@import "util/media";

.panel {
  width: 100%;
  // background-color: rgb(73, 116, 153);
  .tab {
    font-size: 1.2rem;
    height: 2rem;
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0 auto 12px 6%;
    span {
      background-color: rgb(245, 139, 0);
      padding: 4px 8px;
      border-radius: 6px;
    }
  }
  .users {
    .user {
      margin: 0 6%;
      @include tablet {
        margin: 2% 4%;
      }
      @include phone {
        margin: 1% 2%;
      }

      &:first-child {
        margin-bottom: 12px;
      }
      .bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3px;
        .profile {
          display: flex;
          align-items: center;
          .picture {
            height: 50px;
            width: 50px;
            img {
              height: 100%;
              width: 100%;
              border-radius: 6px;
            }
          }
          .text {
            text-align: left;
            margin-left: 12px;
            .name {
              font-size: 1.4rem;
              font-weight: 700;
            }
            .status {
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
        .actions {
          display: flex;
          button {
            height: 80%;
            width: 80%;
            padding: 5px;
            font-size: 1.1rem;
            background-color: #d1d1d1;
            border: none;
            border-radius: 6px;
            &:first-child {
              margin-right: 8px;
            }
            img {
              margin-bottom: -6px;
            }
          }
        }
      }
    }
    .video {
      video {
        width: 100%;
        aspect-ratio: 2/1.25;
        border-radius: 6px;
        object-fit: cover;
        transform: rotateY(180deg);
      }
    }
  }
}
